.blog1, .blog2{
    display: flex;
justify-content: center;}

.home1, .home2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home1, .home2{
max-width: 512px;
max-height: 340px;
  }
  @media (max-width: 575px) {
    .home1, .home2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
}
  .price{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  h2{
    margin-top: 55px;
    color: #1F2937;

text-align: center;
font-size: 48px;
font-weight: 700;
  }

  hr{
    border-radius: 4px 4px 0px 0px;
    opacity: 0.25;
    background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
    max-width: 256px;
max-height: 4px;
    margin-top: 8px;
  }

.maintitle h2{
    color: #1F2937;

text-align: center;
font-size: 48px;
font-weight: 700;
}

h3{
    color: #1F2937;

font-size: 30px;
font-weight: 700;
}
.lorem{
    color: #4B5563;

font-size: 16px;
font-weight: 400;
}
.LOREM p{
    color: #4B5563;
font-size: 16px;
font-weight: 400;
}
.loremhref{
    color: #EC4899;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

