.blog1, .blog2{
    display: flex;
justify-content: center;}

.home1, .home2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home1, .home2{
max-width: 512px;
max-height: 340px;
  }
  @media (max-width: 575px) {
    .home1, .home2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .price{
        display: flex;
        flex-direction: column;
        align-items: center;  
margin: 0 !important;
padding-left: 24px;  
padding-right: 24px; }
   .btnsterted{
text-align: center !important;
align-items: center;
}
.text1, .posts, .text, .blogbtn, .but1{
    text-align: center !important;
}
.btnT{
    display: block;
    margin: 0 auto;
}
}



  h2{
    margin-top: 55px;
    color: #1F2937;

text-align: center;
font-size: 48px;
font-weight: 700;
  }

  .hrtitle{
    border-radius: 4px 4px 0px 0px;
    opacity: 0.25;
    background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
    max-width: 50%;
height: 4px;
margin: 0 25% 0 25%;

  }

 h2, 
h4{
    color: #1F2937;

text-align: center;
font-size: 48px;
font-weight: 700;
}

h3{
    color: #1F2937;

font-size: 30px;
font-weight: 700;
}
h4{
    margin-top: 56px;
}
.lorem{
    color: #4B5563;

font-size: 16px;
font-weight: 400;
}
.LOREM p{
    color: #4B5563;
font-size: 16px;
font-weight: 400;
}
.loremhref{
    color: #EC4899;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.container{
    border-bottom: 1px solid #E5E7EB;

background: #FFF;
}

.startedp{
    color: #4B5563 !important;
font-size: 14px !important;
font-weight: 400 !important;
padding-top: 40px !important;
}

.textstarted span{
    color: #1F2937;

font-size: 20px;
font-weight: 700;
}
.textstarted p{
    color: #1F2937;

font-size: 16px;
font-weight: 400;
}

.btnT{
    display: flex;
padding: 16px 32.06px 16px 31px;
align-items: flex-start;
border-radius: 9999px;
background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
max-width: 109px;
max-height: 56px;
box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
color: #FFF;
justify-content: space-between;
font-size: 16px;
font-weight: 700;
margin-top: 68px;
margin-bottom: 48px;
}
.started{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}
.price{
    margin-left: 192px;
    margin-right: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
}
.basicc{
   background-color:#E5E7EB ; 
}

.pricesflex{
    display: inline-flex;
    padding: 24px 126.67px 0px 126.67px;
    justify-content: space-between;
    align-items: flex-end;
}
.free{
    width: 320px;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    height: 520px;

}
.basic{
width: 520px;
background-color: #FFF;
text-align: center;
height: 520px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);

}
.pro{
    width: 320px;
    background-color: #FFF; 
    text-align: center; 
    height: 520px;

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
 
}
h5{
    color: #1F2937;
margin-top: 161px;
text-align: center;

font-size: 48px;
font-weight: 700;
}

.freep{
    padding-bottom: 32px;
    padding-top: 32px;
    
color: #4B5563;

text-align: center;
font-size: 30px;
font-weight: 700;
}
.basicp{
    padding-bottom: 32px;
    padding-top: 32px;
    color: #1F2937;

text-align: center;
font-size: 30px;
font-weight: 700;
}
